* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color1: rgb(254, 237, 210);
    --color2: rgb(74, 98, 254);
    --color3: rgb(80, 90, 120);
    --color4: rgb(255, 251, 245);
    --color5: #ffca28;

    --font1: 3rem;
    --font2: 1.2rem;

    --padding0: 0.5em;
    --padding1: 1em;
    --padding2: 2em;
    --padding3: 4em;

    --gap1: 1em;
    --gap2: 2em;

    --radius0: 2px;
    --radius1: 5px;

    --shadow0: 0px 1px 2.5px var(--color3);
    --shadow1: 0px 2px 5px var(--color3);

    --border1: 1px solid var(--color3);

    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------- Estilos generales --------------------------------- */
input {
    border-style: none;
    height: 3em;
    background-color: var(--color4);
    border-radius: var(--radius1);
    border: var(--border1);
    padding: var(--padding0);
}

section {
    box-shadow: var(--shadow1);
    border-radius: var(--radius1);
    padding: var(--padding0);
}

h2 {
    color: var(--color3);
}

button {
    border-style: none;
    border: var(--border1);
    border-radius: var(--radius1);
    box-shadow: var(--shadow0);
    cursor: pointer;
    padding: var(--padding0);
}

button:hover {
    transform: scale(1.01);
}


/* ------------------------------------------------------------ */

header {
    position: sticky;
    top: 0;
    background-color: var(--color2);
    text-align: center;
    padding: var(--padding1);

    h1 {
        color: var(--color1);
    }
}

main {
    width: 100%;
    min-height: calc(100vh - 2em);
    padding: var(--padding1) var(--padding3);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap1);
    background-color: var(--color1);

}

main> :first-child {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: var(--gap1);
    background-color: var(--color4);

    div {
        width: 100%;
        height: 5em;
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        justify-content: center;
    }

    .botones {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: var(--gap1);
    }
}

main> :last-child {
    width: 100%;
    display: grid;
    grid-template-rows: auto max-content;
    align-content: start;
    align-items: start;
    gap: var(--gap2);
    background-color: var(--color4);


    #buscador {
        width: 100%;
        height: fit-content;
    }
}

.catalogo {
    display: grid;
    gap: var(--gap1);
}

/* -------------------- TARJETA DEL LIBRO ------------------------ */
#grid-libros {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap1);
}

.tarjeta-libro {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius1);
    background-color: var(--color1);
    padding: var(--padding1);
    box-shadow: var(--shadow1);

    h3 {
        width: 100%;
        background-color: var(--color2);
        color: var(--color4);
        padding: var(--padding0);
        border-radius: 5px 5px 0 0;
        margin-bottom: 0.5em;
    }
}

.tarjeta-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap1);

    span {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.favorito-icono {
    color: var(--color5);
    transition: transform 0.1s ease, color 0.2s ease;
}

.favorito-icono:hover {
    transform: scale(1.2);
}

.favorito-icono:contains("star"),
.favorito-icono {
    color: var(--color5);
}

.tarjeta-footer {
    text-align: end;
}

/* --------------------------------------------------------------- */

footer {
    height: 2em;
    background-color: var(--color2);
    color: var(--color1);
    padding: var(--padding0);
    text-align: center;
}